@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "variables";

body {
  font-size: 16px;
  background-color: $color-60;
}

* {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: $color-30;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-radius {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 100%;

  &:active {
    transform: scale(0.95);
  }
}

.title {
  font-size: $size-text-xxxlarge;
  font-weight: 700;
  color: $color-30;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

input {
  all: unset;
  color: $color-05;
  font-size: $size-text-normal;
  font-weight: 500;
  width: 100%;
}