@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "variables";

body {
  font-size: 16px;
  background-color: $color-60;
}

* {
  font-family: "DM Sans", serif;
  font-weight: 400;
  color: $color-30;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: $spacing-normal;
  width: fit-content;

  font-weight: 700;
  font-size: $size-text-normal;

  border: 0;
  border-radius: $radius-normal;
  padding: $padding-small $padding-normal;
  background-color: $color-highlight;

  box-shadow: $shadow-normal;

  &:active {
    transform: scale(0.95);
  }

  & a {
    text-decoration: none;
    color: $color-60;
  }
}

.component-custom {
  display: flex;
  justify-content: space-between;
  gap: 0;
  border-radius: $radius-normal;
  padding: $padding-normal;
}

.button-radius {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: $radius-normal;
  padding: $padding-small $padding-normal;
  width: fit-content;
  font-size: $size-text-normal;
  font-weight: 700;

  &:active {
    transform: scale(0.95);
  }
}

.title-custom {
  font-weight: 1000;
  color: $color-30;
  width: 100%;
}

.title-component-title {
  font-size: $size-text-xxxlarge;
}

.incorrect-message {
  font-size: $size-text-normal;
  font-weight: 500;
  color: $color-error;
}

.container {
  display: flex;
  width: 100%;
}

.success-message {
  font-size: $size-text-normal;
  font-weight: 500;
  color: $color-success;
}

.menu-item-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

input {
  all: unset;
  color: $color-05;
  font-size: $size-text-normal;
  font-weight: 500;
  width: 100%;
}

textarea {
  all: unset;
  color: $color-05;
  font-size: $size-text-normal;
  font-weight: 500;
  height: 5em;
  word-break: break-word;
  width: 100%;
}