$size-text-small: 0.8rem;
$size-text-normal: 1rem;
$size-text-large: 1.2rem;
$size-text-xlarge: 1.4rem;
$size-text-xxlarge: 1.6rem;
$size-text-xxxlarge: 1.8rem;
$size-text-xxxxlarge: 2rem;

$color-60: #FDFDFD;
$color-30: #222222;
$color-10: #E8E8E8;
$color-05: #ABABAB;
$color-01: #E8E8E8;
$color-error: #ff2e2e;
$color-success: #65ff65;
$color-component: #FFFFFF;
$color-highlight: #6946CB;
$radius-small: 5px;
$radius-normal: 10px;
$radius-large: 20px;

$size-border-normal: 2px;

$spacing-small: 10px;
$spacing-normal: 15px;

$padding-xsmall: 5px;
$padding-small: 10px;
$padding-normal: 15px;
$padding-large: 20px;

$shadow-normal: 0px 5px 40px 0px rgba(112, 105, 94, 0.20);

$size-height-header: 88px;