$size-text-small: 0.8rem;
$size-text-normal: 1rem;
$size-text-large: 1.2rem;
$size-text-xlarge: 1.4rem;
$size-text-xxlarge: 1.6rem;
$size-text-xxxlarge: 1.8rem;
$size-text-xxxxlarge: 2rem;

$color-60: #F1F1F1;
$color-30: #222222;
$color-10: #E8E8E8;
$color-05 : #ABABAB;
$color-01: #E8E8E8;
$color-error: #FF0000;
$color-success: #00FF00;

$radius-small: 5px;
$radius-normal: 10px;
$radius-large: 20px;



$spacing-small: 10px;
$spacing-normal: 15px;

$padding-small: 10px;
$padding-normal: 15px;