@import "../scss/_variables.scss";
// HEADER TOP
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding-normal;
  position: fixed;
  width: 100%;

  border-bottom: 1px solid $color-01;
  height: $size-height-header;
  background-color: $color-60;

  z-index: 999;
  cursor: grab;

  &__container-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &--title {
      font-size: $size-text-xlarge;
      font-weight: 900;
      color: $color-30;
    }
  }
}


.container-menu {
  // ||STRUCTURE
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .menu-item a {
    all: unset;

    // || TYPOGRAPHY
    font-size: $size-text-normal;
    font-weight: 500;
    color: $color-05;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%
}

.main {
  padding-top: $size-height-header;

}

.footer {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  display: grid;
  grid-template-areas:
          'logo contact-me'
          'license license';
  padding: 25px;
  background-color: $color-30;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-normal;

    h2 {
      color: $color-highlight;
      font-weight: 900;
    }
  }

  &__contact-me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: $spacing-normal;
    width: 100%;

    h3 {
      font-size: $size-text-normal;
      font-weight: 500;
      color: $color-60;
    }

    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $spacing-normal;
    }
  }

  &__license {
    grid-area: license;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-project {
      color: $color-05;

      span {
        color: $color-highlight;
        text-shadow: 0 2px 10px rgba(105, 70, 203, 0.50);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &-web {
      color: $color-05;
      text-align: end;

      b {
        color: $color-05;
        font-weight: 700;
      }
    }
  }
}