@import "../scss/_variables.scss";
// HEADER TOP
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding-normal;
  position: fixed;
  width: 100%;

  border-bottom: 1px solid $color-01;
  height: $size-height-header;
  background-color: $color-60;

  z-index: 999;
  cursor: grab;
}

.container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .logo-title {
    font-size: $size-text-xlarge;
    font-weight: 900;
    color: $color-30;
  }
}

.container-menu {
  // ||STRUCTURE
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .menu-item a {
    all: unset;

    // || TYPOGRAPHY
    font-size: $size-text-normal;
    font-weight: 500;
    color: $color-05;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%
}
.main {
  padding-top: $size-height-header;
}