@import "../scss/_variables.scss";
@import "../scss/_responsive.scss";

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// LOADING ENGINE
$spinner-width: 10px;
$spinner-color: $color-60;
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-engine {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: $spinner-color $spinner-color $spinner-color transparent;
  border-radius: 50%;
  position: relative;
  animation: spin 1s linear infinite;

  &:before, &:after {
    content: '';
    width: $spinner-width;
    height: $spinner-width;
    border-radius: 50%;
    position: absolute;
    left: $spinner-width;
  }

  &:before {
    top: $spinner-width;
  }

  &:after {
    bottom: $spinner-width;
  }
}

// USER STATUS ENGINE
.user-status-engine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: $spacing-normal;

  &__container-login-and-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-normal;
    width: 100%;
  }

  &__container-gmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-normal;
    width: 100%;

    .user-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      min-height: 35px;
      min-width: 35px;
      border-radius: 50%;
      background-color: $color-highlight;
      color: $color-60;
      font-weight: 700;
    }
    .title-custom{
      @include for-mobile() {
        display: none;
      }
    }
  }
}


// INPUT ENGINE
.input-engine {
  width: 100%;
}

.component.input-engine {
  padding: $padding-xsmall $padding-xsmall;
  width: 100%;
}

.input-engine > .container-input {
  &:focus-within {
    border: $size-border-normal solid $color-30;
  }
}

// SIGN ENGINE
.login-engine,
.register-engine {
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;
  width: fit-content;
  height: fit-content;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-normal;
  width: 100%;
}

.container-input {
  display: flex;
  flex-direction: column;
  background-color: $color-01;
  padding: $padding-normal;
  border-radius: $radius-normal;
  width: 100%;
  height: 100%;
  min-width: 300px;

  & .input-title {
    font-weight: 600;
  }
}

.container-input-code-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-radius.button-send-code {
  background-color: $color-05;
  border: none;
  color: $color-60;
  padding: 15px 15px;
  width: fit-content;
}

.login-button {
  background-color: $color-30;
  color: $color-60;
  padding: 15px 15px;
  font-weight: 600;
  border-radius: $radius-normal;
}

.register-button {
  background-color: transparent;
  border: 1px solid $color-30;
  color: $color-30;
  padding: 15px 15px;
  font-weight: 600;

}

.container-login-and-register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;

  & p {
    color: $color-05;
  }

  & a {
    color: $color-30;
    font-weight: 700;
  }
}

.container-input-code {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  width: 100%;
}

.input-code {
  text-align: left;
  letter-spacing: 35.5px;
  text-transform: uppercase;
  padding: 0 0 0 12px;
}

// SEARCH ENGINE
.component-custom.container-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: $spacing-normal;
  background-color: $color-01;
}

// SORT ENGINE
.sort-engine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .button-custom {
    background-color: transparent;
    height: 100%;
  }
}

.container-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-01;

  .sort-title {
    font-weight: 700;
  }
}

// SURVEY ENGINE
.survey-form-engine {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-normal;
  padding: $padding-normal;
  width: 30vw;
  height: 30vw;

  background-color: $color-01;
  box-shadow: 0 0 20px 0 rgba(171, 171, 171, 0.25);
}

.container-survey-form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.survey-engine {
  height: 100%;

  .button-custom {
    height: 100%;
  }
}

.button-submit-survey {
  background-color: $color-30;
  color: $color-60;
  padding: 15px 15px;
  font-weight: 600;
  border-radius: $radius-normal;
  box-shadow: 0 0 8px 3px rgba(171, 171, 171, 0.75);;
}

.button-radius.button-cancel-survey {
  background-color: transparent;
  border: 1px solid $color-30;
  color: $color-30;
}

.container-survey-form-item {
  display: flex;
  justify-content: space-between;
  gap: $spacing-normal;
  width: 100%;
}

// TREND CARD ENGINE
.trend-card-engine {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: $spacing-normal;
  padding: $padding-normal;
  border-radius: $radius-normal;
  background-color: $color-component;
  width: 300px;
  height: 350px;
  box-shadow: 0 0 15px 0 rgba(89, 89, 89, 0.25);

  transition: box-shadow 0.5s cubic-bezier(0.77, 0, 0.3, 1.5), transform 0.5s cubic-bezier(0.77, 0, 0.3, 1.5);

  &:hover {
    box-shadow: 0 0 15px 0 rgba(89, 89, 89, 0.5);
    transform: scale(1.05);
    backface-visibility: hidden;
    will-change: transform;
  }

  & > .button-custom.button-follow {
    width: 100%;
  }
}

.container-trend-graph {
  background-color: $color-30;
  width: 100%;
  height: 45%;
}

.container-trend-title-and-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-normal;
  width: 100%;

  & .trend-id {
    font-size: $size-text-normal;
    font-weight: 500;
    background-color: transparent;

    border-radius: $radius-normal;
    padding: $padding-xsmall;

    color: $color-highlight;
    border: 2px solid $color-highlight;
  }
}

.container-trend-description {
  & .trend-description {
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    height: 2em;
    font-size: $size-text-small;
    font-weight: 300;
  }
}

.container-trend-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.container-trend-detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: $spacing-normal;

  & .trend-detail-item__title,
  .trend-detail-item__value {
    font-size: $size-text-small;
    color: $color-05;
  }
}

.container-trend-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  align-content: space-around;
  gap: 4px;

  & .trend-tag {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;

    color: $color-60;
    background-color: $color-30;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

//TAG
.component-custom.container-tag-engine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-normal;
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;

  background-color: $color-component;

  & .tag-delete {
    background-color: transparent;
  }

  & .tag {
    font-size: $size-text-normal;
    font-weight: 700;
    color: $color-30;
    max-width: 10em;
    width: fit-content;
  }

}

// TREND TAG
.component.trend-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-30;
  color: $color-60;
  border: none;
  padding: 5px 5px;
}

.tag-add-engine {
  position: relative;
  width: 100%;
}

.component-custom.container-trend-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-normal;
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;

  background-color: $color-component;

  & .trend-tag-delete {
    background-color: transparent;
  }
}

.trend-tag {
  font-size: $size-text-normal;
  font-weight: 700;
  color: $color-30;
  max-width: 10em;
  width: fit-content;
}

input#input-trend-tag-add {
  width: fit-content;
}

.component-custom.container-tag-add {
  background-color: $color-01;
  gap: $spacing-normal;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
}

// ELECTION BALLOT ENGINE
.election-ballot-engine.custom-component {
  background-color: $color-component;
  box-shadow: $shadow-normal;
  width: fit-content;
  padding: $padding-normal;

  & .container-election-ballot__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: $spacing-normal;
    width: 100%;

    input[type="checkbox"] {
      all: unset;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      border-radius: $radius-small;
      border: 2px solid $color-highlight;

      &:checked {
        background-color: $color-highlight;
        width: 20px;
        height: 20px;
      }
    }
  }

  & .container-election-ballot__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: $spacing-normal;
    width: 100%;

    & .election-ballot__footer-item {
      display: flex;
      flex-direction: row;
      gap: $spacing-normal;
    }
  }
}

.example-class {
  // || POSITION
  position: unset;
  top: unset;
  right: unset;
  left: unset;
  bottom: unset;
  align-self: unset;

  // || STRUCTURE
  display: unset;
  align-items: unset;
  justify-content: unset;
  gap: unset;
  flex-direction: unset;
  flex-wrap: unset;
  flex-grow: unset;
  flex-shrink: unset;
  flex-basis: unset;


  // || TYPOGRAPHY
  font-weight: unset;
  font-size: unset;
  color: unset;
  font-family: inherit;
  text-align: unset;
  text-transform: unset;
  word-break: inherit;
  letter-spacing: unset;
  line-height: unset;
  text-decoration: unset;
  text-overflow: unset;

  // || DECORATION
  border: unset;
  border-radius: unset;
  padding: unset;
  margin: unset;
  width: unset;
  height: unset;
  background-color: unset;
  box-shadow: unset;
  overflow: unset;
  cursor: unset;
  z-index: unset;
  opacity: unset;
}