@import "../scss/_variables.scss";
// INPUT ENGINE
.component.input-engine {
  padding: $padding-xsmall $padding-xsmall;
}

// SIGN ENGINE
.login-engine,
.register-engine {
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-normal;
  width: 100%;
}

.container-input {
  display: flex;
  flex-direction: column;
  background-color: $color-01;
  padding: $padding-normal;
  border-radius: $radius-normal;
  width: 400px;

  & .input-title {
    font-weight: 600;
  }
}

.container-input-code-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-radius.button-send-code {
  background-color: $color-05;
  border: none;
  color: $color-60;
  padding: 15px 15px;
  width: fit-content;
}

.login-button {
  background-color: $color-30;
  color: $color-60;
  padding: 15px 15px;
  font-weight: 600;
  border-radius: $radius-normal;
}

.register-button {
  background-color: transparent;
  border: 1px solid $color-30;
  color: $color-30;
  padding: 15px 15px;
  font-weight: 600;

}

.container-login-and-register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;

  & p {
    color: $color-05;
  }

  & a {
    color: $color-30;
    font-weight: 700;
  }
}

.container-input-code {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  width: 100%;
}

.input-code {
  text-align: left;
  letter-spacing: 35.5px;
  text-transform: uppercase;
  padding: 0 0 0 12px;
}

// SEARCH ENGINE
.container-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// SORT ENGINE
.container-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// SURVEY ENGINE
.survey-form-engine {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-normal;
  padding: $padding-normal;
  width: 30vw;
  height: 30vw;

  background-color: $color-01;
  box-shadow: 0 0 20px 0 rgba(171, 171, 171, 0.25);
}

.container-survey-form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.survey-engine {
  background-color: $color-30;
  color: $color-60;

  font-size: $size-text-normal;
  font-weight: 600;
}

// TREND CARD ENGINE
.trend-card-engine {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: $spacing-normal;
  padding: $padding-normal;
  border-radius: $radius-normal;
  background-color: $color-01;
  border: 1px solid $color-05;
  width: 300px;
  height: 350px;
}

.container-trend-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  background-color: rgba(171, 171, 171, 0.25);
  padding: 10px $padding-normal;
  border-radius: $radius-normal;

  & .trend-id {
    font-size: $size-text-normal;
    font-weight: 500;
    color: $color-05;
  }
}

.container-trend-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-normal;
  width: 100%;
  height: 100%;

  .container-trend-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-normal;
    width: 100%;

    & .trend-title {
      font-size: $size-text-large;
      font-weight: 600;
      color: $color-30;
    }


    & .trend-follow-button {
      border: none;
      padding: 10px 15px;
      width: fit-content;
      background-color: $color-30;
      color: $color-60;
      font-weight: 600;
    }
  }

  & .trend-description {
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    height: 4em;
  }
}

.container-trend-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.container-trend-detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: $spacing-normal;

  & .trend-detail-item__title,
  .trend-detail-item__value {
    font-size: $size-text-normal;
    color: $color-05;
  }
}

.container-trend-voted {
  & .trend-voted {
    font-size: $size-text-xxlarge;
    font-weight: 600;
    color: $color-30;
  }
}

.container-trend-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

// TREND TAG
.component.trend-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-30;
  color: $color-60;
  border: none;
  border-radius: $radius-small;
  padding: 5px 5px;
}

.example-class {
  // || POSITION
  position: unset;
  top: unset;
  right: unset;
  left: unset;
  bottom: unset;
  align-self: unset;

  // || STRUCTURE
  display: unset;
  align-items: unset;
  justify-content: unset;
  gap: unset;
  flex-direction: unset;
  flex-wrap: unset;
  flex-grow: unset;
  flex-shrink: unset;
  flex-basis: unset;


  // || TYPOGRAPHY
  font-weight: unset;
  font-size: unset;
  color: unset;
  font-family: inherit;
  text-align: unset;
  text-transform: unset;
  word-break: inherit;
  letter-spacing: unset;
  line-height: unset;
  text-decoration: unset;
  text-overflow: unset;

  // || DECORATION
  border: unset;
  border-radius: unset;
  padding: unset;
  margin: unset;
  width: unset;
  height: unset;
  background-color: unset;
  box-shadow: unset;
  overflow: unset;
  cursor: unset;
  z-index: unset;
  opacity: unset;
}