@import "../scss/_variables.scss";

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $color-01;
  align-items: center;
  padding: 5px;
}

.container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .logo-title {
    font-size: $size-text-xlarge;
    font-weight: 900;
    color: $color-30;
  }
}

.container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .menu-item a {
    all: unset;
    font-size: $size-text-normal;
    font-weight: 500;
    color: $color-05;
  }
}
