@import "../scss/_variables.scss";
// HEADER TOP
.header-top {
  // || POSITION

  // || STRUCTURE
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $color-01;
  align-items: center;
  padding: 5px;
}

.container-logo {
  // || POSITION

  // || STRUCTURE
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .logo-title {
    // || TYPOGRAPHY
    font-size: $size-text-xlarge;
    font-weight: 900;
    color: $color-30;
  }
}

.container-menu {
  // ||STRUCTURE
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .menu-item a {
    all: unset;

    // || TYPOGRAPHY
    font-size: $size-text-normal;
    font-weight: 500;
    color: $color-05;
  }
}

// HEADER LEFT
.header-left {
  // || POSITION
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: $padding-normal;
  border-right: 1px solid $color-05;

  .container-menu {
    // || STRUCTURE
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & .menu-item a {
      // || TYPOGRAPHY
      font-size: $size-text-small;
      color: $color-30;
    }
  }

}

