@import "../scss/_variables.scss";

.home-component {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 30px;
}

.home-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home-demo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.home-demo-content {
  display: flex;
  flex-shrink: 2;
  gap: $spacing-normal;
  flex-direction: column;

  & .container-demo-extra-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    & p {
      font-size: $size-text-xxlarge;
    }
  }

  & .container-demo-content {
    color: $color-05;
    font-size: $size-text-xxxlarge;

    & b {
      font-weight: 900;
      color: $color-05;

    }
  }

  & .container-demo-content-title {
    font-size: 60px;
    font-weight: 700;
    word-break: break-word;
    width: 100%;

    & span {
      font-weight: 900;
      color: $color-05;
    }
  }
}

.home-demo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  flex-shrink: 1;
}

.home-login-incorrect-message {
  font-size: $size-text-normal;
  font-weight: 500;
  color: #FF4D4D;
}

.home-demo-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 300px;
}