@import "../scss/_variables.scss";

.home-component {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 30px;
}

.home-main {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.home-demo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.home-section-open {
  display: flex;
  flex-shrink: 2;
  gap: $spacing-normal;
  flex-direction: column;
  align-items: center;
  padding: 70px 25%;
  min-width: 200px;
  & * {
    text-align: center;
  }

  & .container-tagline {
    display: flex;
    flex-direction: row;
    align-items: center;

    & p {
      font-size: $size-text-xxlarge;
      font-weight: 700;
      color: $color-highlight;
    }
  }

  & .container-title {
    & h1 {
      font-size: 60px;
      font-weight: 1000;
    }
  }

  & .container-description {
    color: $color-05;
    font-size: $size-text-xxxlarge;

    & b {
      font-weight: 900;
      color: $color-05;
    }
  }
  & .button-custom{
    & .button-custom__icon {
      display: flex;
      height: fit-content;
        width: fit-content;
    }
  }
}

.home-demo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  flex-shrink: 1;
}

.home-login-incorrect-message {
  font-size: $size-text-normal;
  font-weight: 500;
  color: #FF4D4D;
}

.home-demo-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 300px;
}

.button-custom, #button-explore {
  color: $color-60;
}